/* Barra de navegacion*/
.navbar{
padding: 1rem;
background-color: #ede6d5;
}

/* Body*/
body{
    background-color: #fefaea;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
    }

    /*Estilos generales*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 2.5rem;

}

/*Seccion Hero*/
.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
    }


    /*Adaptable (Responsivo)*/
@media screen and (max-width: 767px){
    .navbar-brand{
        display:none;
    }
}
